# OS & System files
.DS_Store
Thumbs.db
desktop.ini

# Node / Scratch
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
scratch/
temp/
